<table style="text-align: left; width: 100%;" border="0"
 cellpadding="0" cellspacing="0">

  <tbody>
    <tr align="center" style="height: 1px; background-color: rgb(0, 0, 0);">
      <td><img src="https://i.imgur.com/RGV3U0q.png" title="source: imgur.com" /></td>
      <td><big><big><big><big><span style="font-family: Calibri; color: white; font-weight: bold;">Laboratorio III</span></big></big></big></big></td>
      <td><img src="https://i.imgur.com/YOQky86.png" title="source: imgur.com" style="width: 250px; height: auto;" /></td>
    </tr>
    <tr align="center">
      <td colspan="3" rowspan="1"
 style="height: 1px; background-color: rgb(68, 68, 100);"></td>
    </tr>
    <tr align="center">
      <td colspan="3" rowspan="1"><big><big><big><big><span
 style="font-family: Calibri;">Grupo7<br> Misc</span></big></big></big></big><br>
      </td></tr>
    <tr align="center">       
      <td colspan="3" rowspan="1" style="height: 1px; background-color: rgb(68, 68, 100);"></td>
    </tr>
  </tbody>
</table>


<span style="font-family: Calibri; font-weight: bold; ">Autores:</span>
<br style="font-family: Calibri; font-style: italic;">
<span style="font-family: Calibri; font-style: italic;">aDigital</span>
<div class="footer">&copy; 2024</div>

<hr>

# Prediccion Feb 2020: Lectura Completa y Rapida de ventas
## Dataset sell-z-780-all-LTSM.csv

**Nota:** Este `df_ventas` genera `sell-z-780-all-LTSM.csv` y solo contiene los datos de los 780 productos a predecir.

Luego de ejecutar tenemos el `df_ventas` con: 
- Todas las ventas de los 780 productos a predecir
- Matriz de 780 productos * 36 periodos = 28080 (se completaron con 0 los periodos faltantes para cada producto)
- Columnas con la clasificacion de productos: cat1, cat2, cat3, brand, sku_size, descripcion
- Columna en780 (deberia estar todo en 1 ya que indica que es producto a predecir para febrero 2020)
- Columna cant_periodos: contiene para cada producto la cantidad de periodos que tuvo ventas

In [4]:
import pandas as pd

# Cargar los datos de ventas y productos a predecir
#sell-z-780-groupBy-Period-ProdId.csv
#ventas_file_path = '../66_Datos/sell-in.txt'
ventas_file_path = '../66_Datos/sell-z-780-groupBy-Period-ProdId.csv'
productos_file_path = '../66_Datos/productos_a_predecir.txt'
productos_descripcion = '../66_Datos/tb_productos_descripcion.txt'


# tb_productos_descripcion.txt es la ultima tabla (∫2024/06/15) que presento con las caracteristicas y categoria de cada producto
df_productos_descripcion = pd.read_csv(productos_descripcion, sep='\t')
df_productos_descripcion = df_productos_descripcion[['product_id', 'cat1', 'cat2', 'cat3', 'brand', 'sku_size', 'descripcion']]
df_productos_descripcion = df_productos_descripcion.reset_index(drop=True)
# Nota: no encuentro duplicados en productos_descripcion. De todas formas armo la sentencia de eliminarlos ya que pueden aparecer
#       futuras versiones del archivo
# Eliminar los duplicados en la columna 'product_id', manteniendo solo la primera aparición
df_productos_descripcion.drop_duplicates(subset='product_id', keep='first', inplace=True)

#df_ventas_orig = pd.read_csv(ventas_file_path, sep='\t')
df_ventas_orig = pd.read_csv(ventas_file_path)

# Borro columna customer_id 
#   Esta columna viene del archivo csv que agrupo valores por product_id y periodo. No sabemos si customer_id es un valor totalizado.
#   En principio no lo necesito
df_ventas = df_ventas_orig.copy()
del df_ventas['customer_id']

# -------------------------------------------------------
# Agregar Periodos faltantes con valor = 0
#    LSTM necesita toda la serie temporal en la que los productos fueron vendidos para poder predecir a futuro, incluso
#    en meses dde no hubieron ventas. Para estos meses se completa el periodo, product_id y valores a cero para tn (y demas valores tipo numericos)

# Primero convertimos la columna 'periodo' en datetime si no está en ese formato
df_ventas['periodo'] = pd.to_datetime(df_ventas['periodo'], format='%Y%m')

meses = df_ventas.periodo.unique()
prod = df_ventas.product_id.unique()

all_combinations = pd.MultiIndex.from_product([prod, meses], names=['product_id', 'periodo']).to_frame(index=False)

# Unir los datos originales con el DataFrame completo para asegurar que cada producto tenga todos los periodos
df_full = pd.merge(all_combinations, df_ventas, on=['product_id', 'periodo'], how='left')

# Rellenar los valores faltantes con ceros
df_full['tn'] = df_full['tn'].fillna(0)

df_ventas = df_full.copy()


# -------------------------------------------------------
# Agregar la col cant_periodos
#    Cant periodos indica cuantos meses hubo ventas de un product_id
# Filtrar el DataFrame para excluir los períodos donde 'tn' es cero
df_ventas_filtrado = df_ventas[df_ventas['tn'] != 0]

# Agrupar por 'product_id' y contar los períodos únicos en el DataFrame filtrado
cant_periodos = df_ventas_filtrado.groupby('product_id')['periodo'].nunique()

# Agregamos esta información al DataFrame original
df_ventas = df_ventas.merge(cant_periodos.rename('cant_periodos'), on='product_id', how='left')


# -------------------------------------------------------
# Agregamos la descripcion de cada producto (cat1, cat2, cat3, etc)
#   Esto podria ser util en caso de querer incorporar nuevas variables al modelo
df_ventas = pd.merge(df_ventas, df_productos_descripcion, on=['product_id'], how='left')

# Contar la cantidad de NaN en cada columna
cantidad_nans_por_columna = df_ventas.isna().sum()
print('\n--------------------------------------')
print('Cantidad de NaN x Columna:')
print(cantidad_nans_por_columna)

# Rellenar los valores faltantes con ceros
df_ventas = df_ventas.fillna(0)

print('\n--------------------------------------')
print('Completando a 0 los NaN')



# Contar la cantidad de NaN en cada columna
cantidad_nans_por_columna = df_ventas.isna().sum()
print('\n--------------------------------------')
print('Cantidad de NaN x Columna:')
print(cantidad_nans_por_columna)



print('\n--------------------------------------\n')
print('Generando archivo final: ../66_Datos/sell-z-780-all-LTSM.csv')

# En caso de generar el archivo a csv para uso futuro
#df_ventas.to_csv('../66_Datos/sell-z-780-all-LTSM.csv', index=False)
df_ventas.round(1).to_excel('../66_Datos/sell-z-780-all-LTSM.xlsx', index=False)

print('\n--------------------------------------')

--------------------------------------
Cantidad de NaN x Columna:
product_id                  0
periodo                     0
plan_precios_cuidados    5731
cust_request_qty         5731
cust_request_tn          5731
tn                          0
cant_periodos               0
cat1                        0
cat2                        0
cat3                        0
brand                       0
sku_size                    0
descripcion                 0
dtype: int64

--------------------------------------
Completando a 0 los NaN

--------------------------------------
Cantidad de NaN x Columna:
product_id               0
periodo                  0
plan_precios_cuidados    0
cust_request_qty         0
cust_request_tn          0
tn                       0
cant_periodos            0
cat1                     0
cat2                     0
cat3                     0
brand                    0
sku_size                 0
descripcion              0
dtype: int64

--------------------------------------

Generando archivo final: ../66_Datos/sell-z-780-all-LTSM.csv

--------------------------------------

## Lecutura rapida de Dataset sell-z-780-all-LTSM.csv

In [11]:
import pandas as pd

ventas_LTSM_path = '../66_Datos/sell-z-780-all-LTSM.csv'
df_ventas = pd.read_csv(ventas_LTSM_path)

# Convertir la columna 'periodo' a tipo datetime
df_ventas['periodo'] = pd.to_datetime(df_ventas['periodo'], format='%Y-%m-%d')

# Formatear la fecha según el formato deseado
print(df_ventas.info())

df_ventas.head(2)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28080 entries, 0 to 28079
Data columns (total 13 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   product_id             28080 non-null  int64
 1   periodo                28080 non-null  datetime64[ns]
 2   plan_precios_cuidados  22349 non-null  float64
 3   cust_request_qty       22349 non-null  float64
 4   cust_request_tn        22349 non-null  float64
 5   tn                     28080 non-null  float64
 6   cant_periodos          28080 non-null  int64
 7   cat1                   28080 non-null  object
 8   cat2                   28080 non-null  object
 9   cat3                   28080 non-null  object
 10  brand                  28080 non-null  object
 11  sku_size               28080 non-null  int64
 12  descripcion            28080 non-null  object
dtypes: datetime64[ns](1), float64(4), int64(3), object(5)
memory usage: 2.8+ MB
None

,product_id,periodo,plan_precios_cuidados,cust_request_qty,cust_request_tn,tn,cant_periodos,cat1,cat2,cat3,brand,sku_size,descripcion
0,20001,2017-01-01,0.0,479.0,937.72717,934.77222,36,HC,ROPA LAVADO,Liquido,ARIEL,3000,genoma
1,20001,2017-02-01,0.0,432.0,833.72187,798.01620,36,HC,ROPA LAVADO,Liquido,ARIEL,3000,genoma

<hr>

# Formula Total Forecast Error

In [1]:
import pandas as pd

def calcular_total_forecast_error(actual, forecast):
    """
    Calcula el Total Forecast Error dado un DataFrame con ventas reales y pronosticadas.

    Parámetros:
    actual (pd.Series): Serie con las ventas reales.
    forecast (pd.Series): Serie con las ventas pronosticadas.

    Retorna:
    float: El Total Forecast Error.
    """
    # Calcular el error absoluto
    abs_error = abs(actual - forecast)
    
    # Calcular el Total Forecast Error
    total_forecast_error = abs_error.sum() / actual.sum()
    
    print("\n\n-----------------------------------------------------------------------------")
    print("-----------------------------------------------------------------------------")
    print(f'    >>>>>>>>>>>>       Total Forecast Error: {total_forecast_error:.2%}     <<<<<<<<<<<<<<<<<<')
    print("-----------------------------------------------------------------------------")
    print("-----------------------------------------------------------------------------\n\n")

    
    return total_forecast_error

# Ejemplo de uso
# Crear un DataFrame de ejemplo
data = {
    'product_id': [1, 2, 3, 4, 5],
    'actual_sales': [100, 150, 200, 250, 300],
    'forecast_sales': [110, 145, 190, 260, 310]
}
df = pd.DataFrame(data)

# Calcular el Total Forecast Error
tfe = calcular_total_forecast_error(df['actual_sales'], df['forecast_sales'])
#print("\n\n-----------------------------------------------------------------------------")
#print("-----------------------------------------------------------------------------")
#print(f'    >>>>>>>>>>>>       Total Forecast Error: {tfe:.2%}     <<<<<<<<<<<<<<<<<<')
#print("-----------------------------------------------------------------------------")
#print("-----------------------------------------------------------------------------\n\n")

-----------------------------------------------------------------------------
-----------------------------------------------------------------------------
    >>>>>>>>>>>>       Total Forecast Error: 4.50%     <<<<<<<<<<<<<<<<<<
-----------------------------------------------------------------------------
-----------------------------------------------------------------------------

$$
\text{Total Forecast Error} = \frac{\sum_{\text{sku}} |\text{Actual Sales} - \text{Forecast Sales}|}{\sum_{\text{sku}} \text{Actual Sales}}
$$

<hr>

# Funcion nombre_file(sfx)
   - Genera el nombre del archivo .csv con prefijo datetime YYYY-MM-DD

In [6]:
# --------------------------------------
# Funcion nombre_file(sfx)
#   - Genera el nombre del archivo .csv con prefijo datetime YYYY-MM-DD
from datetime import datetime
def nombre_file(sfx):
    # Obtener la fecha y hora actual en el formato requerido
    current_time = datetime.now().strftime('%Y-%m-%d-%H%M-')

    # Path to output dir
    output_dir = '../666_Kaggle/Entregas/'    
    return(output_dir+current_time+sfx+'.csv')
# Indicar el nombre de la prueba
suffix_name = 'MongoAurelio' 

file_to_kaggle = nombre_file(suffix_name)
print(file_to_kaggle)


# ------------------------------------------------
# Esto va al final para escribir el archivo final

# Agrego el tfe2 al suffix del archivo
#   Calculo del total forecast error
#   tfe2 =  calcular_total_forecast_error(all_forecasts['y'], all_forecasts['yhat1'])
#    print(f'Total Forecast Error: {tfe2:.2%}')

tfe2 = 0.123456789
str_tfe2 = "_tfe2_" + str(round(tfe2, 4)) 

# Suffijo general para las dos salidas de archivos
#  Solo cambiar este valor

suffix_general = 'Sufijo-General'  + str_tfe2

# Usar la función nombre_file para asignar el nombre del archivo de salida para kaggle
suffix_to_kaagle_name = suffix_general
file_to_kaggle = nombre_file(suffix_to_kaagle_name)
# Colocar el nombre del df apropiado
#df_aGuardarEnDisco.to_csv(file_to_kaggle, index=False)

#all_forecasts.to_csv(file_to_kaggle+'all', index=False)
print(f'Predicciones ajustadas guardadas en {file_to_kaggle}')

# Fin
# ------------------------------------------------

../666_Kaggle/Entregas/2024-06-22-1033-MongoAurelio.csv
Predicciones ajustadas guardadas en ../666_Kaggle/Entregas/2024-06-22-1033-Sufijo-General_tfe2_0.1235.csv

In [7]:
# --------------------------------------
# Funcion nombre_file(sfx)
#   - Genera el nombre del archivo .csv con prefijo datetime YYYY-MM-DD
from datetime import datetime
def nombre_file(sfx):
    # Obtener la fecha y hora actual en el formato requerido
    current_time = datetime.now().strftime('%Y-%m-%d-%H%M-')

    # Path to output dir
    output_dir = '../666_Kaggle/Entregas/'    
    return(output_dir+current_time+sfx+'.csv')

# Indicar el nombre de la prueba


# Agrego el tfe2 al suffix del archivo
#   Calculo del total forecast error
#   tfe2 =  calcular_total_forecast_error(all_forecasts['y'], all_forecasts['yhat1'])
#    print(f'Total Forecast Error: {tfe2:.2%}')

tfe2 = 0.123456789
str_tfe2 = "_tfe2_" + str(round(tfe2, 4)) 

suffix_name = 'MongoAurelio' + str_tfe2
file_to_kaggle = nombre_file(suffix_name)
print(file_to_kaggle)
# --------------------------------------

../666_Kaggle/Entregas/2024-06-22-1033-MongoAurelio_tfe2_0.1235.csv

<hr>

#  Sell-in - Datos de Ventas 

### sell-in.txt

El archivo de ventas contiene todos los datos de ventas facilitados por el docente. Es la tabla punto de partida para las ventas. 

Contiene las siguientes columnas:

1. **periodo**: Representa el período de tiempo en formato `yyyymm` (año y mes).
    - Minimum	2017-01-01 00:00:00
    - Maximum	2019-12-01 00:00:00
2. **customer_id**: Identificación única del cliente.
3. **product_id**: Identificación única del producto.
4. **plan_precios_cuidados**: Indicador binario (0 o 1) que señala si el producto está incluido en el plan de precios cuidados.
5. **cust_request_qty**: Cantidad de producto solicitada por el cliente.
6. **cust_request_tn**: Peso en toneladas solicitado por el cliente.
7. **tn**: Peso en toneladas del producto vendido.

Estas columnas proporcionan información detallada sobre las ventas realizadas en distintos períodos, especificando el cliente, el producto, y las cantidades en unidades y en peso.


### sell-z-780-all-prodId.csv
sell-z-780-all-prodId.csv es una vista de la tabla sell-in.txt con solamente los movimientos de los 780 productos que hay que predeicr (productos_a_predecir.txt).
Las ventas de productos por peridos no estan agregadas. Esto es, existen para un mismo producto en un mismo perodo multiples entradas.  
  EJ:

| Periodo | product_id | tn   |
|---------|------------|------|
| 2018-01 | 20001      | 1360 |
| 2018-01 | 20001      | 160  |
| 2018-01 | 20055      | 3360 |

### sell-z-780-groupBy-Period-ProdId.csv
sell-z-780-groupBy-Period-ProdId.csv contiene los mismos datos que sell-z-780-all-prodId.csv pero agrupados por 'periodo' y 'product_id'. Es decir, para un producto que tuvo multiples ventas en un periodo tengo agrupadas las ventas para ese periodo.

Ej. 
| Periodo | product_id | tn   |
|---------|------------|------|
| 2018-01 | 20001      | 1520 |
| 2018-01 | 20055      | 3360 |

In [15]:
import pandas as pd

# Cargar los datos de ventas y productos a predecir
ventas_file_path = '../66_Datos/sell-in.txt'
productos_file_path = '../66_Datos/productos_a_predecir.txt'
productos_descripcion = '../66_Datos/tb_productos_descripcion.txt'

df_productos_descripcion = pd.read_csv(productos_descripcion, sep='\t')
df_productos_descripcion = df_productos_descripcion[['product_id', 'cat1', 'cat2', 'cat3', 'brand', 'sku_size', 'descripcion']]
df_productos_descripcion = df_productos_descripcion.reset_index(drop=True)
# Nota: no encuentro duplicados en productos_descripcion. De todas formas armo la sentencia de eliminarlos ya que pueden aparecer
#       futuras versiones del archivo
# Eliminar los duplicados en la columna 'product_id', manteniendo solo la primera aparición
df_productos_descripcion.drop_duplicates(subset='product_id', keep='first', inplace=True)

df_ventas_orig = pd.read_csv(ventas_file_path, sep='\t')

df_ventas = pd.merge(df_ventas_orig, df_productos_descripcion, on=['product_id'], how='left')


df_productos = pd.read_csv(productos_file_path, sep='\t')


# Filtrar las ventas para que solo incluya los productos a predecir
productos_a_predecir = df_productos['product_id'].unique()
sell_780_all = df_ventas[df_ventas['product_id'].isin(productos_a_predecir)]


sell_780_groupBy_Periodo_ProdId = sell_780_all.groupby(['periodo', 'product_id'], as_index=False).sum()

# Opcional: Guardar el DataFrame filtrado en un archivo CSV
#df['ds'] = pd.to_datetime(df['periodo'], format='%Y%m')
df_ventas_toCsv = df_ventas
df_ventas_toCsv['periodo'] = pd.to_datetime(df_ventas_toCsv['periodo'], format='%Y%m')

/var/folders/w1/fwmwl18j7yvfc0766bv7m8_r0000gn/T/ipykernel_2707/356992897.py:32: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  sell_780_groupBy_Periodo_ProdId = sell_780_all.groupby(['periodo', 'product_id'], as_index=False).sum()

In [20]:
# Generar CSVs 
df_ventas_toCsv.to_csv('../66_Datos/sell-in.csv', index=False)
sell_780_all.to_csv('../66_Datos/sell-z-780-all-prodId.csv', index=False)
sell_780_groupBy_Periodo_ProdId.to_csv('../66_Datos/sell-z-780-groupBy-Period-ProdId.csv', index=False)

In [26]:
df_productos_descripcion = df_productos_descripcion[['product_id', 'cat1', 'cat2', 'cat3', 'brand', 'sku_size', 'descripcion']]
df_productos_descripcion = df_productos_descripcion.reset_index(drop=True)

# Nota: no encuentro duplicados en productos_descripcion. De todas formas armo la sentencia de eliminarlos ya que pueden aparecer
#       futuras versiones del archivo
# Eliminar los duplicados en la columna 'product_id', manteniendo solo la primera aparición
df_productos_descripcion.drop_duplicates(subset='product_id', keep='first', inplace=True)

In [29]:
df1 = pd.merge(df_ventas, df_productos_descripcion, on=['product_id'], how='left')

In [11]:
# CSV de las ventas de todos los 780 con el campo periodo convertido a datetime
#   Este archivo lo uso en Orange y nec que periodo tenga formato fecha
sell_780_all_toDatetime_toCsv = sell_780_all.copy()
sell_780_all_toDatetime_toCsv['periodo'] = pd.to_datetime(sell_780_all_toDatetime_toCsv['periodo'], format='%Y%m')
sell_780_all_toDatetime_toCsv.to_csv('../66_Datos/sell-z-780-all-prodId-toDatetime.csv', index=False)

In [13]:
sell_780_all.loc[(sell_780_all['product_id'] == 20001) & (sell_780_all['periodo'] == 201701)].head(5)

,periodo,customer_id,product_id,plan_precios_cuidados,cust_request_qty,cust_request_tn,tn
44019,201701,10001,20001,0,11,99.43861,99.43861
44020,201701,10063,20001,0,1,0.12312,0.12312
44021,201701,10080,20001,0,1,0.24625,0.24625
44022,201701,10094,20001,0,1,1.23123,1.23123
44023,201701,10184,20001,0,1,0.06716,0.06716

## sell-z-39-all-prodId + sell-z-39-groupBy-Period-ProdId

Version con 39 productos que representan el 5% para pruebas rapidas



sell-z-39-groupBy-Period-ProdId.csv es una version reducida de los datos de ventas (con el 5% de productos a predecir= y contiene los datos de ventas agrupados por 'periodo' y 'product_id'. Es decir, para un producto que tuvo multiples ventas en un periodo tengo agrupadas las ventas para ese periodo.

Ej. 
| Periodo | product_id | tn   |
|---------|------------|------|
| 201801 | 20001      | 1520 |
| 201801 | 20055      | 3360 |
| 201802 | 20011      | 1320 |
| 201802 | 20021      | 1220 |
| 201802 | 20031      | 120 |

In [6]:
import pandas as pd

# Cargar los datos de ventas y productos a predecir
ventas_file_path = '../66_Datos/sell-in.txt'
productos_file_path = '../66_Datos/productos_a_predecir-39.txt'

df_ventas = pd.read_csv(ventas_file_path, sep='\t')
df_productos = pd.read_csv(productos_file_path, sep='\t')

# Filtrar las ventas para que solo incluya los productos a predecir
productos_a_predecir = df_productos['product_id'].unique()
sell_39_all = df_ventas[df_ventas['product_id'].isin(productos_a_predecir)]


sell_39_groupBy_Periodo_ProdId = sell_39_all.groupby(['periodo', 'product_id'], as_index=False).sum()

# Opcional: Guardar el DataFrame filtrado en un archivo CSV
sell_39_all.to_csv('../66_Datos/sell-z-39-all-prodId.csv', index=False)
sell_39_groupBy_Periodo_ProdId.to_csv('../66_Datos/sell-z-39-groupBy-Period-ProdId.csv', index=False)

# Misc Temp

In [2]:
print(range(2021, 2030))

range(2021, 2030)

In [17]:
import pandas as pd
import numpy as np

# Crear un DataFrame con fechas desde 2021 hasta 2039
f2 = pd.DataFrame({
    'ds': pd.to_datetime([str(x) for x in range(2021, 2040)], format='%Y'),
    'y': np.nan
})

print(f2)

           ds   y
0  2021-01-01 NaN
1  2022-01-01 NaN
2  2023-01-01 NaN
3  2024-01-01 NaN
4  2025-01-01 NaN
5  2026-01-01 NaN
6  2027-01-01 NaN
7  2028-01-01 NaN
8  2029-01-01 NaN
9  2030-01-01 NaN
10 2031-01-01 NaN
11 2032-01-01 NaN
12 2033-01-01 NaN
13 2034-01-01 NaN
14 2035-01-01 NaN
15 2036-01-01 NaN
16 2037-01-01 NaN
17 2038-01-01 NaN
18 2039-01-01 NaN

In [14]:
f2

Timestamp('2038-01-01 00:00:00')

In [7]:
import pandas as pd
import numpy as np

# 2021 a 2090
futuro = pd.DataFrame({
    'ds': pd.to_datetime([x for x in range(2021, 2025)], format='%Y'),
    'y': np.nan
})

In [8]:
futuro

          ds   y
0 2021-01-01 NaN
1 2022-01-01 NaN
2 2023-01-01 NaN
3 2024-01-01 NaN

In [9]:
pd.to_datetime([x for x in range(2021, 2025)], format='%Y')

DatetimeIndex(['2021-01-01', '2022-01-01', '2023-01-01', '2024-01-01'], dtype='datetime64[ns]', freq=None)

,periodo,customer_id,product_id,plan_precios_cuidados,cust_request_qty,cust_request_tn,tn
0,201701,10234,20524,0,2,0.05300,0.05300
1,201701,10032,20524,0,1,0.13628,0.13628
2,201701,10217,20524,0,1,0.03028,0.03028
3,201701,10125,20524,0,1,0.02271,0.02271
4,201701,10012,20524,0,11,1.54452,1.54452
...,...,...,...,...,...,...,...
2945813,201912,10105,20853,0,1,0.02230,0.02230
2945814,201912,10092,20853,0,1,0.00669,0.00669
2945815,201912,10006,20853,0,7,0.02898,0.02898
2945816,201912,10018,20853,0,4,0.01561,0.01561
2945817,201912,10020,20853,0,2,0.01561,0.01561

# Ventas To Postgres

Generar archivo sell-in-to-Postgres con:
 1. Todas las ventas registradas en sell-in.txt
 2. Agregar columna `en780` indicando con 1 aquellas filas que contienen product_id perteneciente al listado de 780 productos a predecir (productos_a_predecir.csv)
 3. Merge de las ventas en sell-in.txt con la descripcion de productos en tb_productos_descripcion.txt (join by product_id)
 4. Agregar columna `cant_periodos`, y en cada celda agregar la cantidad de meses que tuvo ventas el product_id de la fila. Por ejemplo si el product_id 20001 tuvo ventas durante los 36 meses, en la columna cant_periodos debe ir 36. 
 5. Exportar a csv  sell-in-all-to-postgres.csv


Como identificar productos vendidos durante los 36 meses

In [1]:
import pandas as pd

# Cargar los datos de ventas y productos a predecir
ventas_file_path = '../66_Datos/sell-in.txt'
productos_file_path = '../66_Datos/productos_a_predecir.txt'
productos_descripcion = '../66_Datos/tb_productos_descripcion.txt'


# tb_productos_descripcion.txt es la ultima tabla (2024/06/15) que presento con las caracteristicas y categoria de cada producto
df_productos_descripcion = pd.read_csv(productos_descripcion, sep='\t')
df_productos_descripcion = df_productos_descripcion[['product_id', 'cat1', 'cat2', 'cat3', 'brand', 'sku_size', 'descripcion']]
df_productos_descripcion = df_productos_descripcion.reset_index(drop=True)
# Nota: no encuentro duplicados en productos_descripcion. De todas formas armo la sentencia de eliminarlos ya que pueden aparecer
#       futuras versiones del archivo
# Eliminar los duplicados en la columna 'product_id', manteniendo solo la primera aparición
df_productos_descripcion.drop_duplicates(subset='product_id', keep='first', inplace=True)

df_ventas_orig = pd.read_csv(ventas_file_path, sep='\t')

df_ventas = pd.merge(df_ventas_orig, df_productos_descripcion, on=['product_id'], how='left')

# Cargamos los productos a predecir (780)
df_productos = pd.read_csv(productos_file_path, sep='\t')


# Filtrar las ventas para que solo incluya los productos a predecir. Va .unique() 
productos_a_predecir = df_productos['product_id'].unique()

# Agregar la columna "en780" a df_ventas
df_ventas['en780'] = df_ventas['product_id'].apply(lambda x: 1 if x in productos_a_predecir else 0)

# Agregar columna `cant_periodos`
# Primero convertimos la columna 'periodo' en datetime si no está en ese formato
df_ventas['periodo'] = pd.to_datetime(df_ventas['periodo'], format='%Y%m')

# Agrupamos por 'product_id' y contamos los periodos únicos
cant_periodos = df_ventas.groupby('product_id')['periodo'].nunique()

# Agregamos esta información al DataFrame original
df_ventas = df_ventas.merge(cant_periodos.rename('cant_periodos'), on='product_id', how='left')

## Valores nulos df_productos_descripcion y df_ventas

Resulta que en la tabla productos_descripcion.txt hay un listado de 45 productos vendidos durante los 36 peridos que no figuran.
 - Voy a completar esos nulos tanto en la tabla que llevo a postgres sell_all (sell-in-all-to-postgres.csv) como productos2 (tb_productos_descripcion_ac.csv)
 - Estoy completando las variables cat1, cat2, cat3, brand y descripción con el string 'sinCatego'
 - Estoy completando la variable sku_size con 0.

In [2]:
# Verificar si hay valores nulos en cat1, cat2, cat3, brand, sku_size, descripcion
nulos_cat1 = df_ventas['cat1'].isnull().sum()
nulos_cat2 = df_ventas['cat2'].isnull().sum()
nulos_cat3 = df_ventas['cat3'].isnull().sum()
nulos_brand = df_ventas['brand'].isnull().sum()
nulos_sku_size = df_ventas['sku_size'].isnull().sum()
nulos_descripcion = df_ventas['descripcion'].isnull().sum()

print(f'Valores nulos en cat1: {nulos_cat1}')
print(f'Valores nulos en cat2: {nulos_cat2}')
print(f'Valores nulos en cat3: {nulos_cat3}')
print(f'Valores nulos en brand: {nulos_brand}')
print(f'Valores nulos en sku_size: {nulos_sku_size}')
print(f'Valores nulos en descripcion: {nulos_descripcion}')


# Reemplazar valores nulos en columnas tipo object con "sinCatego"
cols_object = ['cat1', 'cat2', 'cat3', 'brand', 'descripcion']
for col in cols_object:
    df_ventas[col].fillna('sinCatego', inplace=True)

# Reemplazar valores nulos en columnas numéricas con 0
cols_numeric = ['sku_size']
for col in cols_numeric:
    df_ventas[col].fillna(0, inplace=True)


# Verificar si hay valores nulos en cat1, cat2, cat3, brand, sku_size, descripcion
nulos_cat1 = df_ventas['cat1'].isnull().sum()
nulos_cat2 = df_ventas['cat2'].isnull().sum()
nulos_cat3 = df_ventas['cat3'].isnull().sum()
nulos_brand = df_ventas['brand'].isnull().sum()
nulos_sku_size = df_ventas['sku_size'].isnull().sum()
nulos_descripcion = df_ventas['descripcion'].isnull().sum()

print(f'Valores nulos en cat1: {nulos_cat1}')
print(f'Valores nulos en cat2: {nulos_cat2}')
print(f'Valores nulos en cat3: {nulos_cat3}')
print(f'Valores nulos en brand: {nulos_brand}')
print(f'Valores nulos en sku_size: {nulos_sku_size}')
print(f'Valores nulos en descripcion: {nulos_descripcion}')


print('--------------------------------------')
print('--------------------------------------')



# Filtrar los productos en df_ventas donde cat1 es 'sinCatego'
productos_sin_categoria = df_ventas[df_ventas['cat1'] == 'sinCatego']['product_id'].unique()

# Encontrar los product_id que faltan en df_productos_descripcion
productos_descripcion_ids = df_productos_descripcion['product_id'].unique()
productos_faltantes = set(productos_sin_categoria) - set(productos_descripcion_ids)

# Mostrar los product_id que faltan en df_productos_descripcion
print('Product IDs que faltan en df_productos_descripcion:')
print(productos_faltantes)


print('--------------------------------------')
print('--------------------------------------')


# Crear un DataFrame con los productos faltantes
productos_faltantes_df = pd.DataFrame({
    'product_id': list(productos_faltantes),
    'cat1': 'sinCatego',
    'cat2': 'sinCatego',
    'cat3': 'sinCatego',
    'brand': 'sinCatego',
    'sku_size': 0,
    'descripcion': 'sinCatego'
})

# Concatenar el DataFrame de productos faltantes con df_productos_descripcion
df_productos_descripcion_completo = pd.concat([df_productos_descripcion, productos_faltantes_df], ignore_index=True)

# Verificar el resultado
print(df_productos_descripcion_completo)

Valores nulos en cat1: 7448
Valores nulos en cat2: 7448
Valores nulos en cat3: 7448
Valores nulos en brand: 7448
Valores nulos en sku_size: 7448
Valores nulos en descripcion: 7448
Valores nulos en cat1: 0
Valores nulos en cat2: 0
Valores nulos en cat3: 0
Valores nulos en brand: 0
Valores nulos en sku_size: 0
Valores nulos en descripcion: 0
--------------------------------------
--------------------------------------
Product IDs que faltan en df_productos_descripcion:
{21249, 21253, 21125, 21268, 21270, 21272, 21273, 21274, 21275, 21277, 21278, 21279, 21281, 21283, 21284, 21285, 21286, 21288, 21289, 21290, 21291, 21292, 21165, 21293, 21295, 21296, 21297, 21298, 21299, 21169, 20918, 21178, 20808, 21066, 21199, 21217, 21223, 21225, 21098, 21228, 21230, 20848, 21238, 21240, 21241}
--------------------------------------
--------------------------------------
      product_id       cat1       cat2         cat3      brand  sku_size  \
0          20609      FOODS   ADEREZOS  Aji Picante     NATURA       240
1          20266      FOODS   ADEREZOS     Barbacoa     NATURA       250
2          20325      FOODS   ADEREZOS     Barbacoa     NATURA       400
3          20503      FOODS   ADEREZOS     Barbacoa     NATURA       500
4          20797      FOODS   ADEREZOS  Chimichurri     NATURA       350
...          ...        ...        ...          ...        ...       ...
1291       21230  sinCatego  sinCatego    sinCatego  sinCatego         0
1292       20848  sinCatego  sinCatego    sinCatego  sinCatego         0
1293       21238  sinCatego  sinCatego    sinCatego  sinCatego         0
1294       21240  sinCatego  sinCatego    sinCatego  sinCatego         0
1295       21241  sinCatego  sinCatego    sinCatego  sinCatego         0

            descripcion
0     Salsa Aji Picante
1        Salsa Barbacoa
2        Salsa Barbacoa
3        Salsa Barbacoa
4           Chimichurri
...                 ...
1291          sinCatego
1292          sinCatego
1293          sinCatego
1294          sinCatego
1295          sinCatego

[1296 rows x 7 columns]

In [3]:
# Opcional: Guardar el DataFrame filtrado en un archivo CSV
#df['ds'] = pd.to_datetime(df['periodo'], format='%Y%m')
df_ventas_toCsv = df_ventas
#df_ventas_toCsv['periodo'] = pd.to_datetime(df_ventas_toCsv['periodo'], format='%Y%m')

# Genero el csv para crear en pg z_l3.sell_all
df_ventas_toCsv.to_csv('../66_Datos/sell-in-all-to-postgres.csv', index=False)


# Genero el csv para crear en pg z_l3.productos2
df_productos_descripcion_completo.to_csv('../66_Datos/tb_productos_descripcion_ac.csv', index=False)

In [4]:
df_ventas.loc[df_ventas.product_id == 20808].head()

,periodo,customer_id,product_id,plan_precios_cuidados,cust_request_qty,cust_request_tn,tn,cat1,cat2,cat3,brand,sku_size,descripcion,en780,cant_periodos
76331,2017-01-01,10007,20808,0,1,0.00197,0.00197,sinCatego,sinCatego,sinCatego,sinCatego,0.0,sinCatego,0,27
76332,2017-01-01,10135,20808,0,1,0.00197,0.00197,sinCatego,sinCatego,sinCatego,sinCatego,0.0,sinCatego,0,27
76333,2017-01-01,10171,20808,0,1,0.01179,0.01179,sinCatego,sinCatego,sinCatego,sinCatego,0.0,sinCatego,0,27
76334,2017-01-01,10252,20808,0,1,0.06683,0.06683,sinCatego,sinCatego,sinCatego,sinCatego,0.0,sinCatego,0,27
76335,2017-01-01,10040,20808,0,4,0.62310,0.62310,sinCatego,sinCatego,sinCatego,sinCatego,0.0,sinCatego,0,27